<div class="container">
    <div class="card login">
      <div class="card-header">
        <h1>Sign Up</h1>
      </div>
      <div class="card-body">
        <div class="row">
          Name <input type="text" name="username" [(ngModel)]="user.name">
        </div>
        <div class="row">
          Email (must be valid email) <input type="text" name="username" [(ngModel)]="user.email">
        </div>
        <div class="row">
          Password (must be at least 8 characters) <input type="password" name="password" [(ngModel)]="user.password">
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <button (click)="signUp()" class="btn btn-success login-btn">Register</button>
        </div>
      </div>
    </div>
  
  
    <div class="card login" *ngIf="isConfirm">
      <div class="card-header">
        <h1>Confirm Email</h1>
      </div>
      <div class="card-body">
        <div class="row">
          Code: <input type="text" name="code" [(ngModel)]="user.code">
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <button (click)="confirmSignUp()"
                  class="btn btn-success login-btn">Confirm</button>
        </div>
      </div>
    </div>
  </div>
