<div id="main-content">
    <div id="content-wrap">
        <app-header></app-header>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Developed by Tyler Nenninger
        <a class="text-dark" href="https://github.com/tylern16/customer-mgmt-frontend">Frontend</a> | 
        <a class="text-dark" href="https://github.com/tylern16/customer-management">Backend</a>
        </div>
    </footer>

</div>