<div class="jumbotron login">
    <div class="container">
      <h1 class="display-3">Uber Eats for Merchants</h1>
      <p>Get to where you want to grow with Uber Eats for restaurants, grocery, convenience, and more</p>
    </div>
  </div>
  
  <div class="container">
    <div class="card login">
      <div class="card-header">
        <h1>Login or 
          <a href="/register">Register</a>
        </h1>
      </div>
      <div class="card-body">
        <div class="row login-field">
          Email: <input type="text" name="email" [(ngModel)]="user.email">
        </div>
        <div class="row login-field">
          Password: <input type="password" name="password" [(ngModel)]="user.password">
        </div>
      </div>
      <div class="card-footer">
        <div class="row login-btn-container">
          <button (click)="signIn()" class="btn btn-success login-btn">Login</button>
        </div>
      </div>
    </div>
  </div>
