
#main-content {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem;    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
}

/* .btn {
    margin: 1em;
}  */

i {
    cursor: pointer; 
}

button {
    cursor: pointer;
}

/* AUTH */

.login {
    width: 60%;
    margin: 2em auto;
    text-align: center;
}

.login-btn {
    width: 95%;
}

.center {
    text-align: center;
    margin: auto auto;
}

/* Restaurant Card */
#restaurants-title{
    text-align: center;
}

.restaurant-card {
    width: 60%;
    margin: 2em auto;
}

.btn-view-dish {
    margin: auto;
}

.add-restaurant-btm {
    margin: 1em auto;
    text-align: center;
}

.add-restaurant-top {
    margin: 1em auto;
    text-align: right;
}

/* Home */
#home-container {
    padding: 6em;
    background-color: rgb(139, 139, 139);
}

#home-content {
    width: 70%;
    margin: 6em auto;
}

/* Dish */
.dish-container {
    width: 80%;
    margin: auto;
    display: flex;
    /* justify-content: ; */
    flex-wrap: wrap;
}

.dish-card {
    width: calc(80%/3);
    margin: 1em 2.1em;
    min-height: 5em;
}

#add-dish {
    margin: auto;
}

#dishes-title {
    margin: 2em auto;
}

